:root {
    --bs-text-opacity: 0.2;
    --black: #001219;
    --dark-blue: #14213D;
    --sunburst-yellow: #FCA311;
    --silver-grey: #E5E5E5;
    --white: #f7f7f7;

}

body {
    margin: 0;
    padding: 0;
}

.light-font-color {
    color: var(--white);
}

#navigation {
    background: var(--bs-text-opacity);

}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.marker {
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
}

.modal-backdrop.show {
    z-index: 1;
}